<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<%@ page import="java.util.List" %>
<%@ page import="com.main.workspace.Book" %>
<%
// Assume that the books attribute contains a List of Book objects
List<Book> books = (List<Book>) request.getAttribute("books");
  %>
  <html>
  <head>
    <title>Book Library</title>
  </head>
  <body>
  <h2>Book Library</h2>
  <form action="DOMServlet" method="post">
    <input type="hidden" name="formType" value="bookForm">
    <input type="submit" value="Load Books">
  </form>
  <table border="1">
    <tr>
      <th>ISBN</th>
      <th>Title</th>
      <th>Author</th>
      <th>Publisher</th>
      <th>Publication Date</th>
      <th>Price</th>
    </tr>
    <% for (Book book : books) { %>
    <tr>
      <td><%= book.getIsbn() %></td>
      <td><%= book.getTitle() %></td>
      <td><%= book.getAuthor() %></td>
      <td><%= book.getPublisher() %></td>
      <td><%= book.getPublicationDate() %></td>
      <td><%= book.getPrice() %></td>
    </tr>
    <% } %>
  </table>
  </body>
  </html>